body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

header nav a {
  padding: 0 10px 0 10px;
  background-color: powderblue;
  align: center;
}

section figure figcaption {
  font-size: 12px;
}
img {
  display:block;
  margin: 0 auto;
}

section#featured-property p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

section#details div {
  float: left;
}

div {
  background-color: aliceblue;
  width: 25%;
  text-align: center;
}
